<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css-script"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!. Manage Site Page under Development</h1>
<!--        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
-->
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>