<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{portalName}"></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <div th:fragment="header-css-script">
            <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
            <link rel="stylesheet" type="text/css" th:href="@{webjars/font-awesome/4.7.0/css/font-awesome.min.css}"></link>            
            <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"></link>
            <script type="text/javascript" th:src="@{webjars/jquery/3.1.1/jquery.min.js}"></script>
            <script type="text/javascript" th:src="@{webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
            <script th:src="@{/js/inderjitportal.js}"></script>
        </div>

        <div th:fragment="header-css-script-contact">
            <script src="https://maps.googleapis.com/maps/api/js"></script>
            <script th:src="@{/js/contact/contactMapsConfig.js}"></script>
            <link type="text/css" rel="stylesheet" th:href="@{/css/contact/contactMapsConfig.css}" href="../../css/contactMapsConfig.css" />
        </div>
        <div th:fragment="header-css-script-comments">
            <script th:src="@{/js/comment/jquery-comments.js}"></script>
            <script  th:src="@{/js/comment/invcomments.js}"></script>                    
            <link rel="stylesheet" th:href="@{/css/comment/jquery-comments.css}" />
        </div>
        <div th:fragment="header-js-script-angular">
            <script type="text/javascript" th:src="@{webjars/angularjs/1.7.2/angular.min.js}"></script>
            <script th:src="@{/js/inderjitportal_angular.js}"></script>
        </div>
        <div th:fragment="header-css-script-hralign">
            <script th:src="@{/js/hralignsettings.js}"></script>
            <link rel="stylesheet" th:href="@{/css/hralignsettings.css}" />
        </div>
        
        <div th:fragment="header">
            <nav id="headermenu" class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" th:href="@{/}" th:text="#{portalName}"/>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/featureInventory}" th:text="#{inventoryServiceMenuText}"/></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/pricing}" th:text="#{pricingMenuText}"/></li>
                        <li><a th:href="@{/contact}" th:text="#{contactmeMenuText}"/></li>
                        <li><a th:href="@{/testGames}" th:text="#{testGamesMenuText}"/></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/download}">Downloads</a></li>
                        <li sec:authorize="isAuthenticated()"><a id = "logoutLink" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>Sign out</a></li>
                        <li sec:authorize="isAnonymous()"><a id = "loginLink" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>Sign in </a></li>
                        <li><a id = "registerLink" th:href="@{/register}" th:inline="text"><span class="glyphicon glyphicon-user"></span>Sign up</a></li>
                    </ul>

                </div>
            </nav>
            
            <!-- Message Modal -->
            <div id="messageModal" class="modal fade btn-default" role="dialog">
                <div class="modal-dialog modal-sm">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header modal-header-warning">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h1><i class="glyphicon glyphicon-thumbs-up"></i>Warn</h1>
                        </div>
                        <div class="modal-body">
                            <p>Server is Down...Please wait...</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>    
        </div>
    </body>
</html>