<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header-css-script">
        <title th:text="#{portalName}"></title>
    </head>
    <body>

        <div th:replace="fragments/header :: header"/>
        <div class="container">

            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <fieldset>
                    <div id="dispMessage" class="alert alert-info" style="display:none"></div>
                    <div align="center"><h2 th:text="#{forgotPasswordPageHeaderText}"/> </div>                
                    <div class="form-group">
                        <input type="text" th:field="${passwordForm.newUser.userLoginName}" id="forgotPasswordFormUsername" class="form-control input-lg"
                               maxlength="30" th:attr="placeholder=#{userNameText}" autocomplete="off" autofocus="true" />
                    </div>

                    <div>
                        <div class="input-group">
                            <input type="password" th:field="${passwordForm.newUser.userLoginPwd}" id="forgotPasswordFormPassword" class="form-control input-lg"
                                   maxlength="25" th:attr="placeholder=#{forgotUserPasswordText}"/>
                            <span id ="dispforgotPassword" class="input-group-addon btn btn-sm"  data-toggle="tooltip" title ="" th:attr="data-original-title =#{displayPasswordText}"><i class="glyphicon glyphicon-lock"></i></span>
                        </div>
                    </div>
                    <div>
                        <div class="input-group">
                            <input type="password" th:field="*{passwordForm.newUser.confirmPassword}" id="forgotPasswordFormConfirmPassword" class="form-control input-lg"
                                   maxlength="25" th:attr="placeholder=#{forgotUserPasswordConfirmText}"/>
                            <span id ="dispforgotConfirmPassword" class="input-group-addon btn btn-sm"  data-toggle="tooltip" title ="" th:attr="data-original-title =#{displayPasswordText}"><i class="glyphicon glyphicon-lock"></i></span>
                        </div>
                    </div>
                    <div style="margin-top:1%">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input id="forgotpasswordBtn" type="submit" class="btn btn-lg btn-primary btn-block" th:attr="value=#{forgotUserPasswordBtnText}"/>
                        </div>
                    </div>
                </fieldset>                                
            </div>            
        </div>
        <div th:replace="fragments/footer :: footer"/>

    </body>
</html>