<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{portalName}"></title>
    </head>
    <body >
        <div th:replace="fragments/header :: header-css-script"/>
        <div th:replace="fragments/header :: header"/>
        <div class="container">
            <div class="starter-template">
                <h1>Desktop Inventory Management System</h1>
                <p class="text-justify">This Site enables you to download the Setup, a ready for use <kbd>PRODUCT Inventory Management Software</kbd>, this setup is for window based Desktop or Laptop.
                    <mark>To download, <a th:href='@{/login}'>Login to the Web Site</a></mark>.To View the Product features click the <mark>Features</mark> drop down link on the top and select <mark><a th:href='@{/featureInventory}'>Inventory Control</a>.</mark> 
                    This will display the product features, for example Login screens, Data Entry screens, Reports filter criteria screens, and other filter screens. hover the mouse on the image and click to enlarge that image. 
                    If you feel satisfied about a product feature, read ahead reading. Leave me a comment at the end of the section enabling me enhancing the product.
                </p>
                <p class="text-justify">Double clicking the desktop Icon after completing the setup, will display the login window enabling you to login to the Inventory System.  Enter the credentials you created to Login and start using the downloaded software. 
                </p>

                <p class="text-justify">
                    The pricing page displays the available license per user. This product license is (non transferable free) for individuals or individual firms upto 60 day for evaluation purpose only.
                </p>
                <p class="text-justify">
                    Have a query? Contact me by clicking the <mark><a th:href='@{/contact}'>Contact me</a></mark> Link on the top. Thank you for the time spent visiting this web site.
                </p>
                <audio id="beep-one" style="display:none;" controls="controls" preload="auto">
                    <source src="https://a.clyp.it/q2oaawbe.mp3"></source>
                    <source src="audio/beep.ogg"></source>
                    Your browser isn't invited for super fun time.
                </audio>
                <!--<a id="rimshot-hover-sound" href="#">About</a>-->

            </div>

        </div>
        <div th:replace="fragments/footer :: footer"/>


    </body>    
</html>