<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{portalName}"></title>
    </head>
    <body>
        <div th:replace="fragments/header :: header-css-script"/>
        <div th:replace="fragments/header :: header"/>        
        <div th:replace="fragments/header :: header-css-script-hralign"/>
        <div id="openSideNav" align="right" style="font-size:30px;cursor:pointer">&#9776;</div>
        <div class="container">
            <h1>HrAlign Setup</h1>
            <div id="dispMessage" class="alert alert-info" style="display:none"></div>
            <div id="auditSideNav" class="sidenav">
                <div id = "auditpanel" class="panel panel-success panel-table">
                    <div class="panel-heading">
                        <span class="pull-right clickable"><i class="fa fa-times"></i></span>
                        <div align="center" class="panel-title"><h5>Auditing Data</h5></div>                        
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>
                                    <th class="hidden-xs">ID</th>
                                    <th>Login</th>
                                    <th>User Name</th>
                                    <th>Date Modified</th>
                                    <th>Property</th>
                                    <th>Value</th>                                    
                                </tr> 
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="hidden-xs">ISingh</td>
                                    <td>Inderjit Singh</td>
                                    <td>01.01.2018 12:34 pm</td>
                                    <td>db.user.name</td>
                                    <td>dbUserGroup</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="row">
                                <div class="col col-xs-4">Page 1 of 1
                                </div>
                                <div class="col col-xs-8">
                                    <ul class="pagination hidden-xs pull-right">
                                        <li><a href="#">1</a></li>
                                    </ul>
                                    <ul class="pagination visible-xs pull-right">
                                        <li><a href="#">«</a></li>
                                    </ul>
                                </div>
                            </div>                            
                            <span class="pull-right clickable"><i class="fa fa-times"></i>Dismiss</span>
                        </div>
                    </div>
                </div>                
            </div>        

            <div class="tab">
                <button class="tablinks" onclick="displayTabdata(event, 'initialsetting')" id="defaultOpen"><i class="fa fa-envelope"></i> Initial Setting</button>
                <button class="tablinks" onclick="displayTabdata(event, 'eis')"><i class="fa fa-envelope-o"></i> EIS</button>
                <button class="tablinks" onclick="displayTabdata(event, 'emailConfig')"><i class="fa fa-envelope-square"></i> Emails</button>
                <button class="tablinks" onclick="displayTabdata(event, 'intranet')"><i class="fa fa-link"></i> Intranet Content</button>
                <button class="tablinks" onclick="displayTabdata(event, 'leaveattendance')"><i class="fa fa-calendar"></i> Leave &amp; Attendance</button>
                <button class="tablinks" onclick="displayTabdata(event, 'system')"><i class="fa fa-database"></i> System</button>
            </div>

            <div id="initialsetting" class="tabcontent text-info">
                <div id = "initialsettingpanel" class="panel panel-success">
                    <div class="panel-heading">
                        <div align="center" class="panel-title"><h2>Initial Setting</h2></div>
                    </div>
                    <div class="panel-body" >
                        <div class="row form-inline">
                            <div class="col-sm-2">
                                <h5 class="text-info">Client Name</h5>
                            </div>                                
                            <div class="col-sm-5">
                                <input style="width:100%" class="form-control" id ='clientName' type="text" th:value="${valuesList['clientName']}"/>
                            </div>
                            <div class="col-sm-5">
                                <h5 class="text-info" th:text="${valuesList['clientNameMessage']}"></h5>
                            </div>
                            <br/>
                        </div>

                        <div class="row fom-inline">
                            <div class="col-sm-2">
                                <h5 class="text-info">Date Format</h5>
                            </div>                                
                            <div class="col-sm-5">
                                <select class="form-control" id="seletDate" >
                                    <option th:each = "dateVO : ${valuesList['dateFormat']}" th:value="${dateVO.dateSelected}" th:text="${dateVO.dateValue}"/>
                                </select>
                            </div>
                            <div class="col-sm-5">
                                <h5 class="text-info" th:text="${valuesList['dateMessage']}"></h5>
                            </div>
                        </div>
                        <div class="row fom-inline">
                            <div class="col-sm-2">
                                <h5 class="text-info">Login Logo</h5>
                            </div>                                
                            <div class="col-sm-5">
                                <input style="width:100%" class="form-control" id ='clientlogo' type="text" th:value="${valuesList['loginLogo']}"/>
                            </div>
                            <div class="col-sm-5">
                                <h5 class="text-info" th:text="${valuesList['loginLogoMessage']}"></h5>
                            </div>
                        </div>

                        <div class="row fom-inline">
                            <div class="col-sm-2">
                                <h5 class="text-info" >App URL Link</h5>
                            </div>                                
                            <div class="col-sm-5">
                                <input style="width:100%"  class="form-control" id ='appurllink' type="text" th:value="${valuesList['applink']}"/>
                            </div>
                            <div class="col-sm-5">
                                <h5 class="text-info" th:text="${valuesList['applinkMessage']}"></h5>
                            </div>
                        </div>
                        <div class="row fom-inline">
                            <div class="col-sm-2">
                                <h5 class="text-info">Integrate Payroll</h5>
                            </div>                                
                            <div class="col-sm-5">
                                <label class="switch" style="margin:1%">
                                    <input id="payrollIntegration" type="checkbox" />
                                    <span class="slider round"></span>
                                </label>

                            </div>
                            <div class="col-sm-5">
                                <h5 class="text-info" th:text="${valuesList['payrollintegrationMessage']}"></h5>
                            </div>
                        </div>
                        <div class="row fom-inline">
                            <div class="col-sm-2">
                                <h5 class="text-info">Payroll on EIS</h5>
                            </div>                                
                            <div class="col-sm-5">
                                <label class="switch" style="margin:1%">
                                    <input id="payrolloneis" type="checkbox" th:value="${valuesList['payrolloneis']}"/>
                                    <span class="slider round"></span>
                                </label>

                            </div>
                            <div class="col-sm-5">
                                <h5 class="text-info" th:text="${valuesList['payrolloneisMessage']}"></h5>
                            </div>
                        </div>
                        <div class="row fom-inline">
                            <div class="col-sm-2">
                                <h5 class="text-info">Mood Page</h5>
                            </div>                                
                            <div class="col-sm-5">
                                <label class="switch" style="margin:1%">
                                    <input id="moodPage" type="checkbox" th:value="${valuesList['moodPage']}"/>
                                    <span class="slider round"></span>
                                </label>

                            </div>
                            <div class="col-sm-5">
                                <h5 class="text-info" th:text="${valuesList['moodPageMessage']}"></h5>
                            </div>
                        </div>
                        <div class="row fom-inline">
                            <div class="col-sm-2">
                                <h5 class="text-info">Welcome Screen</h5>
                            </div>                                
                            <div class="col-sm-5">
                                <label class="switch" style="margin:1%">
                                    <input id="moodPage" type="checkbox" th:value="${valuesList['welcomeScreen']}"/>
                                    <span class="slider round"></span>
                                </label>

                            </div>
                            <div class="col-sm-5">
                                <h5 class="text-info" th:text="${valuesList['welcomeScreenMessage']}"></h5>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <a id = "initialsettingsave" class="btn btn-default pull-right" ><i class="fa fa-save"></i> Save</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="eis" class="tabcontent text-info">
                <div id = "eispanel" class="panel panel-success">
                    <div class="panel-heading">
                        <div align="center" class="panel-title"><h2>EIS Setting</h2></div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-footer">
                            <div class="row">
                                <a id = "smtpgroupsave" class="btn btn-default pull-right" ><i class="fa fa-save"></i> Save</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>    
            <div id="system" class="tabcontent text-info">
                <h5>Database / Connection</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div id = "sqlpanel" class="panel panel-success">
                            <div class="panel-heading">
                                <div align="center" class="panel-title"><h2>SQL Server</h2></div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <h6 class="text-info">JDBC Url</h6>
                                    </div>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="jdbcurl"/>
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-xs-2">
                                        <h6 class="text-info">User</h6>
                                    </div>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="jdbcuser"/>
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-xs-2">
                                        <h6 class="text-info">Password</h6>
                                    </div>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="jdbcuserpwd"/>
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-xs-2">
                                        <h6 class="text-info">Initial Pool Size</h6>
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" id="initpoolsize"/>
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-xs-2">
                                        <h6 class="text-info">Min Pool Size</h6>
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" id="minpoolsize"/>
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="col-xs-2">
                                        <h6 class="text-info">Max Pool Size</h6>
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" class="form-control" id="maxpoolsize"/>
                                    </div>
                                </div>    

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <a id = "databasesave" class="btn btn-default pull-right" ><i class="fa fa-save"></i> Save</a>
                    </div>
                </div>
            </div>
            <div id="leaveattendance" class="tabcontent">
                <div id = "leaveattendancepanel" class="panel panel-success">
                    <div class="panel-heading">
                        <div align="center" class="panel-title"><h2>Date Config</h2></div>
                    </div>
                    <div class="panel-body">
                    </div>        
                    <div class="panel-footer">
                        <div class="row">
                            <a id = "datesave" class="btn btn-default pull-right" ><i class="fa fa-save"></i> Save</a>                            
                        </div>
                    </div>
                </div>
            </div>
            <div id="emailConfig" class="tabcontent">
                <div id = "smtparentpanel" class="panel panel-success">
                    <div class="panel-heading">
                        <div align="center" class="panel-title"><h2>SMTP Parent</h2></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2">
                                <h6 class="text-info">Host Name Parent</h6>
                            </div>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="hostnameparent"/>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-2">
                                <h6 class="text-info">Port</h6>
                            </div>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" id="portparent"/>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-2">
                                <h6 class="text-info">Email ID</h6>
                            </div>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="emailidparent"/>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-2">
                                <h6 class="text-info">Password</h6>
                            </div>
                            <div class="col-xs-10">
                                <input type="password" class="form-control" id="passwordparent"/>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-2">
                                <h6 class="text-info">Report Path</h6>
                            </div>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="reportpathparent"/>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-2">
                                <h6 class="text-info">SSL</h6>
                            </div>
                            <div class="col-xs-2">
                                <label class="switch" style="margin:1%">
                                    <input id="sslparent" type="checkbox" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>    
                    </div>
                    <div class="form-inline">
                        <a id = "emailtestparent" class="btn btn-default" ><i class="glyphicon"></i> Test Email</a>
                        <input id = "emailtextparent" type="text" class="text-info"  placeholder="Test Email Address (e.g:abc@neterson.com)" style="width:40%"/>
                        <a id = "emailsendparent" class="btn btn-default" ><i class="glyphicon glyphicon-send"></i> Send Email</a>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <a id = "smtpparentsave" class="btn btn-default pull-right" ><i class="fa fa-save"></i> Save</a>
                        </div>
                    </div>
                </div>
                <div id = "emailpanel" class="panel panel-success">
                    <div class="panel-heading">
                        <div align="center" class="panel-title"><h2>Emails Config</h2></div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="text-info">Attendance Regulation Emails</h5>
                            </div>
                            <div class="col-xs-6">
                                <label class="switch" style="margin:1%">
                                    <input id="emailattendance" type="checkbox" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="text-info">Leave Notification Emails</h5>
                            </div>
                            <div class="col-xs-6">
                                <label class="switch" style="margin:1%">
                                    <input id="emailleavenotification" type="checkbox" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="text-info">Attendance (on Duty / Shift change) Emails</h5>
                            </div>
                            <div class="col-xs-6">
                                <label class="switch" style="margin:1%">
                                    <input id="emailshiftchange" type="checkbox" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="text-info">BirthDay / Anniversay Emails</h5>
                            </div>
                            <div class="col-xs-6">
                                <label class="switch" style="margin:1%">
                                    <input id="emailanniversary" type="checkbox" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="text-info">PMS Emails</h5>
                            </div>
                            <div class="col-xs-6">
                                <label class="switch" style="margin:1%">
                                    <input id="emailpms" type="checkbox" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="text-info">Travel and Claim Management Emails</h5>
                            </div>
                            <div class="col-xs-6">
                                <label class="switch" style="margin:1%">
                                    <input id="emailtravel" type="checkbox" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="col-xs-6">
                                <h5 class="text-info">Recruitment Emails</h5>
                            </div>
                            <div class="col-xs-6">
                                <label class="switch" style="margin:1%">
                                    <input id="emailrecruit" type="checkbox" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>    

                    </div>        
                    <div class="panel-footer">
                        <div class="row">
                            <a id = "emailsave" class="btn btn-default pull-right" ><i class="fa fa-save"></i> Save</a>                            
                        </div>
                    </div>
                </div>
            </div>

            <div id="intranet" class="tabcontent">
                <div id = "intranetpanel" class="panel panel-success">
                    <div class="panel-heading">
                        <div align="center" class="panel-title"><h2>Intranet Content (Know Us Notice Board, Downloads and Links) </h2></div>
                    </div>
                    <div class="panel-body">
                    </div>        
                    <div class="panel-footer">
                        <div class="row">
                            <a id = "intranetsave" class="btn btn-default pull-right" ><i class="fa fa-save"></i> Save</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <a id = "restartreq" class="form-ontrol btn btn-default"><i class="fa fa-refresh"></i> Restart Now</a>
                    <a id = "restartlater" class="form-ontrol btn btn-default"><i class="fa fa-refresh"></i> Restart Later</a>
                    <input id = "scheduleTime" class="form-control" type="datetime-local" />
                    <a id = "scheduleBtn" class="form-control btn btn-default"><i class="fa fa-hourglass"></i> Set Schedule</a>
                    <a id = "resetSchedule" class="form-control btn btn-default"><i class="fa fa-times"></i> Dismiss</a>
                </div>
            </div>
            <a id="scrolBtn" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
    </body>
</html>
