<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/header :: header-css-script"/>
        <div th:replace="fragments/header :: header-css-script-comments"/>       
        <title>Inderjits Portal</title>        
    </head>
    <body style="background-color: white">
        <div th:replace="fragments/header :: header"/>
        <div class="container">
            <h2>Feature</h2>
            <a class="btn btn-link" th:href="@{/featureInventory}" data-toggle="tooltip" data-placement="right" title="Back to Features Page">Back</a>
            <div class="panel panel-info" style="justify-content: center;display: flex">
                <img th:src="${imageToDisplay}" alt="InvImage" />
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>